In [53]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from functools import reduce
import matplotlib as plt
from fuzzywuzzy import fuzz
from fuzzywuzzy import process

In [54]:
#import csv of oscar winners
cast_awards_2018=pd.read_csv("../DataSources/Oscars2018.csv")

cast_awards_2018

,Title,Best Director,Best Actor,Best Actress,Best Supporting Actor,Best Supporting Actress
0,Bohemian Rhapsody,0,1,0,0,0
1,Black Panther,0,0,0,0,0
2,BlacKkKlansman,0,0,0,0,0
3,The Favourite,0,0,1,0,0
4,Roma,1,0,0,0,0
5,A Star Is Born,0,0,0,0,0
6,Vice,0,0,0,0,0
7,Green Book,0,0,0,1,0

In [55]:
#OMBD Calls - done on movies list
theMoviesDF_OMBD = pd.read_csv('../DataSources/theMoviesDF2018_OMBD.csv')
theMoviesDF_OMBD

,Actors,Awards,Box Office,Country,Director,Genre,Rated,Title,Writer(s),Year,imdbRating
0,"Rami Malek, Lucy Boynton, Gwilym Lee, Ben Hardy",NaN,"$89,604","UK, USA",Bryan Singer,"Biography, Drama, Music",PG-13,Bohemian Rhapsody,"Anthony McCarten (story by), Peter Morgan (sto...",2018,8.3
1,"Chadwick Boseman, Michael B. Jordan, Lupita Ny...",14 nominations.,"$501,105,037","USA, South Africa, South Korea, Australia",Ryan Coogler,"Action, Adventure, Sci-Fi",PG-13,Black Panther,"Ryan Coogler, Joe Robert Cole, Stan Lee (based...",2018,7.4
2,"Alec Baldwin, John David Washington, Isiah Whi...",NaN,NaN,USA,Spike Lee,"Biography, Crime, Drama",R,BlacKkKlansman,"Charlie Wachtel, David Rabinowitz, Kevin Willm...",2018,7.5
3,"Olivia Colman, Rachel Weisz, Emma Delves, Faye...",NaN,NaN,"Ireland, UK, USA",Yorgos Lanthimos,"Biography, Comedy, Drama, History",R,The Favourite,"Deborah Davis, Tony McNamara",2018,7.9
4,"Yalitza Aparicio, Marina de Tavira, Diego Cort...",NaN,NaN,"Mexico, USA",Alfonso Cuarón,Drama,R,Roma,Alfonso Cuarón,2018,8.0
5,"Lady Gaga, Bradley Cooper, Sam Elliott, Andrew...",1 nomination.,NaN,USA,Bradley Cooper,"Drama, Music, Romance",R,A Star Is Born,"Eric Roth (screenplay by), Bradley Cooper (scr...",2018,8.0
6,"Christian Bale, Amy Adams, Steve Carell, Sam R...",NaN,NaN,USA,Adam McKay,"Biography, Comedy, Drama, History",R,Vice,Adam McKay,2018,7.1
7,"Viggo Mortensen, Mahershala Ali, Linda Cardell...",NaN,NaN,USA,Peter Farrelly,"Biography, Comedy, Drama, Music",PG-13,Green Book,"Nick Vallelonga, Brian Hayes Currie, Peter Far...",2018,8.3

In [56]:
#TMDB Calls
theMoviesDF_TMDB=pd.read_csv('../DataSources/theMoviesDF2018_TMDB.csv')
theMoviesDF_TMDB.head()

,Title,Budget,Popularity,Release Date,Revenue,Runtime,Vote_average,Vote_count
0,Bohemian Rhapsody,52000000,170.104,2018-10-24,835137710,135,8.2,4895
1,Black Panther,200000000,53.369,2018-02-13,1346739107,134,7.4,10532
2,BlacKkKlansman,15000000,31.767,2018-07-30,48271960,135,7.5,2020
3,The Favourite,15000000,139.806,2018-11-20,44517453,119,7.7,840
4,Roma,15000000,34.205,2018-08-25,0,135,8.0,1086

In [57]:
#fix any title discrepancies between OMBD and TMDB dataframes by replacing incorrect OMBD names with TMDB names
#OMBD does not have data on the following movies: Precious: Based on the Novel 'Push' by Sapphire, The Postman (Il Postino), Cries and Whispers, Nashville 
bad_names_OMBD=[]
correct_names_TMDB=[]

for i in theMoviesDF_OMBD["Title"].values:
    if i in theMoviesDF_TMDB["Title"].values:
        pass
    else:
        bad_names_OMBD.append(i)


for i in theMoviesDF_TMDB["Title"].values:
    if i in theMoviesDF_OMBD["Title"].values:
        pass
    else:
        correct_names_TMDB.append(i)

bad_names_OMBD

[]

In [58]:
correct_names_TMDB

[]

In [59]:
theMoviesDF_OMBD.shape

(8, 11)

In [60]:
theMoviesDF_TMDB.shape

(8, 8)

# EXTRACTING INFO FROM API CALLS

In [61]:
#DataFrame by Genre (OMBD)
genreMovies=theMoviesDF_OMBD[['Title', 'Genre']]

for i in range(len(genreMovies['Genre'])):
    x=genreMovies['Genre'][i].split(", ")
    genreMovies['Genre'][i]=x

s=genreMovies.apply(lambda x:pd.Series(x['Genre']), axis=1).stack().reset_index(level=1, drop=True)
s.name = 'Genre'
BP_genres=genreMovies.drop('Genre', axis=1).join(s)
BP_genres=pd.get_dummies(BP_genres, columns=['Genre'])
BP_genres=BP_genres.groupby('Title').sum()

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2961: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

In [62]:
#Dataframe by IMBD rating (OMBD)
BP_IMBD=theMoviesDF_OMBD[['Title','imdbRating']]

#Dataframe by Rating (OMBD)
BP_Rating_qual=theMoviesDF_OMBD[['Title','Rated']]
#consolidate certain ratings
BP_Rating_qual['Rated']=BP_Rating_qual['Rated'].replace({'GP':'PG',
                                                        'M/PG': 'PG',
                                                        'TV-MA': 'R',
                                                        'TV-PG': 'PG',
                                                        'PASSED':'APPROVED',
                                                        'NOT RATED': 'UNRATED'})
BP_Rating=pd.get_dummies(BP_Rating_qual, columns=['Rated'])

#Dataframe by Country (OMBD)
BP_Country_qual=theMoviesDF_OMBD[['Title','Country']]
BP_Country=pd.get_dummies(BP_Country_qual, columns=['Country'])

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':

In [63]:
#Dataframe by Revenue and Budget (TMDB)
BP_Revenue_Budget=theMoviesDF_TMDB[['Title','Revenue', 'Budget']]

#Dataframe by Popularity (TMDB)
BP_Popularity = theMoviesDF_TMDB[['Title','Popularity']]

#Dataframe by Run Time (TMDB)
BP_Runtime = theMoviesDF_TMDB[['Title','Runtime']]

In [64]:
#Dataframe for Release Month (TMDB)
BP_RelMonth_qual = theMoviesDF_TMDB[['Title','Release Date']]
for i in range(len(BP_RelMonth_qual['Release Date'])):
    x=BP_RelMonth_qual['Release Date'][i].split("-")
    BP_RelMonth_qual['Release Date'][i]=x[1]

BP_RelMonth=pd.get_dummies(BP_RelMonth_qual, columns=['Release Date'])

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2961: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

In [65]:
#create a spreadsheet of all info (cannot have string as values)
theMoviesDF=pd.merge(cast_awards_2018, BP_IMBD, on= 'Title', how='inner')
dfs=[theMoviesDF, BP_Popularity, BP_Rating, BP_RelMonth, BP_Revenue_Budget, BP_Runtime, BP_genres]
theMoviesDF= reduce(lambda df1,df2: pd.merge(df1,df2,on=['Title'], how='left'), dfs)
theMoviesDF.fillna(0, inplace=True)
theMoviesDF.to_csv('../DataSources/theMovieFeatures2018.csv', index=False)
theMoviesDF

,Title,Best Director,Best Actor,Best Actress,Best Supporting Actor,Best Supporting Actress,imdbRating,Popularity,Rated_PG-13,Rated_R,...,Genre_Action,Genre_Adventure,Genre_Biography,Genre_Comedy,Genre_Crime,Genre_Drama,Genre_History,Genre_Music,Genre_Romance,Genre_Sci-Fi
0,Bohemian Rhapsody,0,1,0,0,0,8.3,170.104,1,0,...,0,0,1,0,0,1,0,1,0,0
1,Black Panther,0,0,0,0,0,7.4,53.369,1,0,...,1,1,0,0,0,0,0,0,0,1
2,BlacKkKlansman,0,0,0,0,0,7.5,31.767,0,1,...,0,0,1,0,1,1,0,0,0,0
3,The Favourite,0,0,1,0,0,7.9,139.806,0,1,...,0,0,1,1,0,1,1,0,0,0
4,Roma,1,0,0,0,0,8.0,34.205,0,1,...,0,0,0,0,0,1,0,0,0,0
5,A Star Is Born,0,0,0,0,0,8.0,105.901,0,1,...,0,0,0,0,0,1,0,1,1,0
6,Vice,0,0,0,0,0,7.1,45.840,0,1,...,0,0,1,1,0,1,1,0,0,0
7,Green Book,0,0,0,1,0,8.3,56.313,1,0,...,0,0,1,1,0,1,0,1,0,0